// Settings

// Colors
$dark: #1c1c1c;
$light: #fcfcfc;
$yellow: #f7df1c;
$grey: #e1e1e1;
$red: #d75b5b;
$blue: #2561a0;
$darkBlue: #073e65;
$lightBlue: #257cd6;
$green: #3a9059;
$charcoal: #364958;
$sparkle: #3B6064;

// Type
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;

// Layout
$section-padding: em(16) em(20);