// Local Weather

.page-heading-local-weather {
    h2 {
        margin-bottom: em(5);
    }
}

.local-weather-output {

    p {
        margin-bottom: em(10);
    }

    ul {
        padding: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: em(20);
    }
    li {
        margin-bottom: em(10);
        b {
            display: inline-block;
            width: em(76);
        };
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.local-one-day-weather {

    $tempValueFontSizeMobile: 90;

    text-align: center;
    padding: em(10);
    border: 1px solid $light;
    border-radius: 6px;
    max-width: 450px;
    margin-bottom: em(20);

    figure {
        margin: 0;
        height: 120px;
        img {
            max-height: 100%;
        }
    }
    .temp-value {
        font-size: em($tempValueFontSizeMobile);
        position: relative;
        left: em(18, $tempValueFontSizeMobile);
    }

    .description {
        font-size: 1.2em;
    }

    @include mq(em(460)){

        $tempValueFontSizeDesktop: 100;

        display: grid;
        padding: em(20);
        grid-template-columns: em(200) 1fr;
        grid-template-rows: em($tempValueFontSizeDesktop + 30) auto; 
        figure {
            grid-column: 1;
            grid-row: 1 / 3;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .temp {
            grid-column: 2;
            align-self: end;
        }

        .temp-value {
            font-size: em($tempValueFontSizeDesktop);
            position: relative;
            left: em(18, $tempValueFontSizeMobile);
            line-height: 1;
        }

        .description {
            grid-column: 2;
        }
    }

}