.board-member {
    display: flex;
    padding: 10px;
    border: 1px dotted #ccc;
    background-color: #fff;
    box-shadow: 2px 3px 5px 2px #e1e1e1;
    border-radius: 10px;
  }
  
  @media (min-width: 620px) {
    
    .board-member {
      padding: 10px;
    }
  
    .kittens-board-of-directors .board-member {
      border: 1px dotted #ccc;
    }
  
  }
  
  .board-member .profile-picture {
    flex: 0 0 80px;
    margin-right: 10px;
  }
  
  .board-member .profile-picture img {
    border-radius: 10px;
  }
  
  .board-member .board-member p {
    margin: 0 0 5px;
  }